$peach-orange: rgb(250, 207, 150);
$vivid-tangerine: rgb(255, 166, 148);
$darkorange: rgb(254, 141, 1);
$lightorange: rgb(255, 216, 178);
$rajah04: rgb(255, 182, 104, 0.4);
$yelloworange: rgb(255, 165, 63);

$floralwhite03: rgb(255, 249, 237, 0.3);
$floralwhite: rgb(255, 249, 237);
$platinum05: rgb(227, 227, 225, 0.5);
$platinum: rgb(227, 227, 225);
$antiquewhite: rgb(252, 235, 215);
$antiflashwhite: rgb(222, 222, 222);

$blackolive: rgb(59, 59, 59);
$blackchoco: rgb(26, 24, 16);
$blackvampire: rgb(5, 5, 5);

$charcoal: rgb(50, 70, 82);
$davygrey: rgb(85, 85, 85);
$lightgrey: rgb(209, 209, 211);